<!DOCTYPE HTML>

<html>
<head>
<title>A-Star Proxy Tunnel</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
<script src="https://code.angularjs.org/1.6.9/angular-sanitize.js"></script>
<script src="/js/mainJsController.js"></script>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body ng-app="app" ng-controller="controller"
	class="hold-transition skin-blue layout-top-nav">
	<div class="content-wrapper">
		<div class="container">
			<section class="content-header">
				<h1>
					A - star Proxy Tunnel <small>CS - 568 2018 Project</small>
				</h1>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="callout callout-info">
					<p>Proxy tunnel for accessing forbidden websites worldwide</p>
				</div>
				<!-- Default box -->
				<div class="box box-primary">
					<div class="box-header with-border">
						<div class="box-body">
							<div class="col-md-3"></div>

							<div class="col-md-6">
								<p>Type-in a website to redirect:</p>

								<div class="input-group margin input-group-lg">
									<div class="input-group-btn">
										<button type="button" class="btn btn-danger"
											ng-click="redirectViaProxy()">Go!</button>
									</div>
									<!-- /btn-group -->
									<input type="text" class="form-control"
										placeholder="http://www.example.com"
										data-inputmask='"mask": "^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$"'
										ng-model="urlToRedirectViaProxy">
								</div>
								<!-- /input-group -->
							</div>
							<!-- col-md -->
							<div class="col-md-3"></div>
						</div>
						<!-- /.box-body -->
					</div>
				</div>
				<!-- /.box -->
				<div class="row">
					<div class="col-md-9">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Web Site Content</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body" style="height: 500px">
								<iframe id="iframe1"
									style="position: relative; height: 100%; width: 100%;"></iframe>
							</div>
							<!-- box body -->
							<div class="overlay" ng-hide="hideLoadingSpinner">
								<i class="fa fa-refresh fa-spin"></i>
							</div>
						</div>
						<!-- box -->
					</div>
					<div class="col-md-3">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Logs</h3>
								<div class="box-tools pull-right "></div>
							</div>
							<!-- /.box-header -->
							<div class="slimScrollDiv"
								style="position: relative; overflow: hidden; width: auto">
								<div class="box-body pre-scrollable">

									<p ng-repeat="log in htmlLogsFromService">{{log}}</p>
								</div>
							</div>
							<!-- box body -->
							<div class="overlay" ng-hide="hideLoadingSpinner">
								<i class="fa fa-refresh fa-spin"></i>
							</div>
						</div>
						<!-- box -->
					</div>
					<!-- row -->
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->





	</div>
	<!-- main wrapper -->


	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 0.0.1 beta
		</div>
		<strong>Copyright &copy; 2018 <a
			href="https://www.youtube.com/watch?v=rjM2KUzLKM4">Ertan Yıldız -
				Lütfü Çağatay Ağca</a>.
		</strong> All rights reserved.
	</footer>




	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script
		src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="/bower_components/fastclick/lib/fastclick.js"></script>
	<script
		src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="/dist/js/demo.js"></script>
</body>
</html>